# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.*
!.env.example

# Node / JS
node_modules/
dist/
build/
.cache/
.next/
.nuxt/
out/
coverage/
lerna-debug.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.coverage*
.tox/
.pyre/
.pytype/

# Java/Gradle
.gradle/

# Rust
target/

# Go
bin/
vendor/
